<app-header></app-header>
<section id="article-detail" style="padding: 90px 0 40px 0">
    <div class="container-lg">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="" [routerLink]="['']">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="" [routerLink]="['/articles']">Bài viết</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{article?.title}}</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="row text-start">
                    <h3>Danh mục bài viết</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="" [routerLink]="['/articles']" class="nav-link text-muted">Tất cả bài viết</a>
                        </li>
                        @for (category of articleCategories; track $index) {
                        <li class="nav-item">
                            <a href="#" class="nav-link text-muted">{{category.name}}</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 mx-auto col-md-12 offset-md-3">
                <div class="">
                    <h1>{{article?.title}}</h1>
                    <p class="text-muted">{{article?.createdAt}}</p>
                    <p class="text-muted">Bản quyền bài viết thuộc về <span class="fw-bold">WheyStation</span></p>
                    <img [src]="article?.imageUrl" class="img-fluid mb-2 w-100" alt="">
                    <div [innerHTML]="article?.content"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>