<app-header></app-header>
<section id="register-page" style="padding: 90px 0 40px 0;">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Đánh giá của tôi</h2>
                @if(comments?.length === 0 || comments === undefined) {
                <div class="d-flex justify-content-center flex-column w-100 text-center mt-5">
                    <div>
                        <i class="fa-solid fa-comment text-muted" style="font-size: 80px;"></i>
                    </div>
                    <h2 class=" text-center mt-3">Chưa có đánh giá nào của bạn trong danh sách của bạn.</h2>
                    <p class="text-muted" style="font-size: 20px;">Khám phá các sản phẩm
                        tại WheyStation</p>
                    <a href="" [routerLink]=" ['/products']" class="btn btn-primary mx-auto mt-2 w-content">Xem toàn bộ
                        sản phẩm</a>
                </div>
                }
                <div class="list-group">
                    @for (comment of comments! | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };
                    track $index) {
                    <div class="list-group-item py-3">
                        <div class="pb-2">
                            @for (start of getStarsArray(comment.star); track $index) {
                            <i class="fa-solid fa-star text-warning"></i>
                            }
                            @for (start of getStarsArray(5 - comment.star); track $index) {
                            <i class="fa-solid fa-star"></i>
                            }
                        </div>
                        <h5 class="mb-1">{{comment.content}}</h5>
                        <p class="mb-1">{{comment.createdAt}}</p>
                        <small>Nhận xét bởi <strong>{{comment.fullName}}</strong></small>
                        <div>
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can"
                                    (click)="deleteComment(comment.id)"></i></button>
                            <button class="btn btn-dark ms-2" title="Sửa bình luận"><i class="fa-solid fa-gear"
                                    (click)="onUpdate(comment.id, updateModal, comment.content, comment.star)"></i></button>
                        </div>
                    </div>
                    }
                </div>
                <ng-template #updateModal let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sửa bình luận</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.dismiss()"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" [formGroup]="commentForm">
                            <div>
                                <div class="d-flex flex-row mb-3">
                                    <div class="ms-3">
                                        <ngb-rating formControlName="rating" [max]="5"></ngb-rating>
                                    </div>
                                    @if(commentForm.controls['rating'].invalid &&
                                    commentForm.controls['rating'].dirty ||
                                    commentForm.controls['rating'].touched) {
                                    <p class="text-danger mt-2"
                                        *ngIf="commentForm.controls['rating'].errors?.['required']">Bạn phải
                                        đánh giá số sao cho sản phẩm.</p>
                                    }
                                </div>
                                <textarea formControlName="content" class="form-control"></textarea>
                                @if(commentForm.controls['content'].invalid &&
                                commentForm.controls['content'].dirty ||
                                commentForm.controls['content'].touched) {
                                <p class="text-danger mt-2"
                                    *ngIf="commentForm.controls['content'].errors?.['required']">Bạn phải đánh
                                    giá số sao cho sản phẩm.</p>
                                }
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"
                            data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" (click)="updateComment()">Sửa</button>
                    </div>
                </ng-template>
                <!-- Update modal -->
                <!-- <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Sửa bình luận</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="" [formGroup]="commentForm">
                                    <div>
                                        <div class="d-flex flex-row mb-3">
                                            <div class="ms-3">
                                                <ngb-rating formControlName="rating" [max]="5"></ngb-rating>
                                            </div>
                                            @if(commentForm.controls['rating'].invalid &&
                                            commentForm.controls['rating'].dirty ||
                                            commentForm.controls['rating'].touched) {
                                            <p class="text-danger mt-2"
                                                *ngIf="commentForm.controls['rating'].errors?.['required']">Bạn phải
                                                đánh giá số sao cho sản phẩm.</p>
                                            }
                                        </div>
                                        <textarea formControlName="content" class="form-control"></textarea>
                                        @if(commentForm.controls['content'].invalid &&
                                        commentForm.controls['content'].dirty ||
                                        commentForm.controls['content'].touched) {
                                        <p class="text-danger mt-2"
                                            *ngIf="commentForm.controls['content'].errors?.['required']">Bạn phải đánh
                                            giá số sao cho sản phẩm.</p>
                                        }
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Sửa</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                @if(comments?.length! > 0) {
                <div class="row mt-3 mx-auto text-center">
                    <!-- ngx-pagination library -->
                    <pagination-controls (pageChange)=" currentPage=$event"></pagination-controls>
                </div>
                }
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>