<section id="dashboard" style="margin-top: 70px; margin-left: 20px; margin-bottom: 40px;">
    <div class="container-lg">
        <h3>Tổng quan</h3>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header"><i class="fa-solid fa-users me-2"></i>Số lượng người dùng</h5>
                    <div class="card-body">
                        <h5 class="card-title">15,200 người sử dụng</h5>
                        <p class="text-danger">Giảm 12.5%<i class="fa-solid fa-arrow-trend-down ms-2"></i></p>
                        <a href="#" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header"><i class="fa-solid fa-boxes-stacked me-2"></i>Số lượng sản phẩm</h5>
                    <div class="card-body">
                        <h5 class="card-title">625 sản phẩm</h5>
                        <p class="text-danger">Giảm 5.5%<i class="fa-solid fa-arrow-trend-down ms-2"></i></p>
                        <a href="#" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header"><i class="fa-solid fa-truck me-2"></i>Số lượng đơn hàng</h5>
                    <div class="card-body">
                        <h5 class="card-title">5,200 đơn hàng</h5>
                        <p class="text-success">Tăng 12.5%<i class="fa-solid fa-arrow-trend-up ms-2"></i></p>
                        <a href="#" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header"><i class="fa-solid fa-newspaper me-2"></i>Số lượng bài viết</h5>
                    <div class="card-body">
                        <h5 class="card-title">1000 bài viết</h5>
                        <p class="text-success">Tăng 5.5%<i class="fa-solid fa-arrow-trend-up ms-2"></i></p>
                        <a href="#" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-8 mt-3">
                <div>
                    <h3>Doanh thu hàng tháng</h3>
                    <canvas baseChart [datasets]="columnChartData" [labels]="columnChartLabels"
                        [options]="columnChartOptions" [plugins]="columnChartPlugins" [legend]="columnChartLegend"
                        [type]="columnChartType">
                    </canvas>
                </div>
            </div>
            <div class="col-lg-4 col-sm-8 mt-3">
                <div>
                    <h3>Tỉ lệ sản phẩm</h3>
                    <canvas baseChart [datasets]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions"
                        [plugins]="pieChartPlugins" [legend]="pieChartLegend" [type]="pieChartType"
                        style="width: 200px; height: 200px;">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</section>