<section id="dashboard" style="margin-top: 70px; margin-left: 20px; margin-bottom: 40px;">
    <div class="container-lg">
        <div class="d-flex flex-row w-content flex-start align-items-center mb-3">
            <h3 class="m-0 me-2">Số liệu năm {{selectedYear}}</h3>
            <div class="w-content">
                <select [(ngModel)]="selectedYear" (change)="loadDataForYear(selectedYear)"
                    class="form-select w-content">
                    @for (year of years; track $index) {
                    @if (year < 2023) { <option value="{{year}}" disabled>{{year}}</option>
                        }@else {
                        <option value="{{year}}">{{year}}</option>
                        }
                        }
                </select>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header"><i class="fa-solid fa-users me-2"></i>Số lượng người dùng</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{totalUsers.totalUsers}} người sử dụng</h5>
                        @if (totalUsers.up) {
                        <p class="text-success">Tăng {{totalUsers.up}}%<i class="fa-solid fa-arrow-trend-up ms-2"></i>
                        </p>
                        } @else {
                        <p class="text-success">Tăng {{totalUsers.down}}%<i
                                class="fa-solid fa-arrow-trend-down ms-2"></i>
                        </p>
                        }
                        <a href="#" [routerLink]="['/admin/users']" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header"><i class="fa-solid fa-coins me-2"></i>Tổng doanh thu</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{formatPrice(outcome.outcome)}}</h5>
                        @if (outcome.up) {
                        <p class="text-success">Tăng {{outcome.up}}%<i class="fa-solid fa-arrow-trend-up ms-2"></i>
                        </p>
                        } @else {
                        <p class="text-success">Tăng {{outcome.down}}%<i class="fa-solid fa-arrow-trend-down ms-2"></i>
                        </p>
                        }
                        <a href="#" [routerLink]="['/admin/orders']" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header"><i class="fa-solid fa-truck me-2"></i>Số lượng đơn hàng</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{totalOrders.totalOrders}} đơn hàng</h5>
                        @if (totalOrders.up) {
                        <p class="text-success">Tăng {{totalOrders.up}}%<i class="fa-solid fa-arrow-trend-up ms-2"></i>
                        </p>
                        } @else {
                        <p class="text-success">Tăng {{totalOrders.down}}%<i
                                class="fa-solid fa-arrow-trend-down ms-2"></i></p>
                        }
                        <a href="#" [routerLink]="['/admin/orders']" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header"><i class="fa-solid fa-newspaper me-2"></i>Số lượng bài viết</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{totalArticles.totalArticles}} bài viết</h5>
                        @if (totalArticles.up) {
                        <p class="text-success">Tăng {{totalArticles.up}}%<i
                                class="fa-solid fa-arrow-trend-up ms-2"></i></p>
                        } @else {
                        <p class="text-success">Tăng {{totalArticles.down}}%<i
                                class="fa-solid fa-arrow-trend-down ms-2"></i></p>
                        }
                        <a href="#" [routerLink]="['/admin/blogs']" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-10 com-md-10 mt-3">
                <div>
                    <h3>Doanh thu hàng tháng</h3>
                    <canvas baseChart [datasets]="columnChartData" [labels]="columnChartLabels"
                        [options]="columnChartOptions" [plugins]="columnChartPlugins" [legend]="columnChartLegend"
                        [type]="columnChartType">
                    </canvas>
                </div>
            </div>
            <div class="col-lg-4 col-sm-10 com-md-10 mt-3">
                <div>
                    <h3>Tỉ lệ sản phẩm</h3>
                    <canvas baseChart [datasets]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions"
                        [plugins]="pieChartPlugins" [legend]="pieChartLegend" [type]="pieChartType"
                        style="width: 200px; height: 200px;">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</section>