<section id="categories-admin" style="margin-top: 70px">
    <div class="container-lg mt-3">
        <div class="d-flex ms-3 flex-row w-content flex-start flex-wrap align-items-center mb-3 w-100">
            <div class="flex-grow-1 flex-row d-flex align-items-center">
                <h3 class=" m-0 me-2">Quản lý sản phẩm <br> Số liệu năm {{selectedYear}}</h3>
                <div class="w-content">
                    <select [(ngModel)]="selectedYear" (change)="loadDataForYear(selectedYear)"
                        class="form-select w-content">
                        @for (year of years; track $index) {
                        @if (year < 2023) { <option value="{{year}}" disabled>{{year}}</option>
                            }@else {
                            <option value="{{year}}">{{year}}</option>
                            }
                            }
                    </select>
                </div>
            </div>
            <div class="ms-2">
                <a class="btn btn-success" href="" [routerLink]="['/admin/products/create-product']">Thêm sản phẩm<i
                        class="fa-solid fa-circle-plus ms-2"></i></a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header bg-success text-white"><i class="fa-solid fa-fire me-2"></i>Sản phẩm bán
                        chạy nhất</h5>
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="w-25 me-3">
                                <img src="../../../../assets/intro-image.jpg" class="img-fluid" alt="">
                            </div>
                            <div>
                                <p class="card-title fw-bold">Optimum Nutrition Gold Standard 100% Whey Protein Powder
                                </p>
                                <p>Số lượng bán ra: 25,000 sản phẩm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header bg-danger text-white"><i class="fa-solid fa-face-frown me-2"></i>Sản phẩm bị
                        đánh
                        giá tệ nhất</h5>
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="w-25 me-3">
                                <img src="../../../../assets/intro-image.jpg" class="img-fluid" alt="">
                            </div>
                            <div>
                                <p class="card-title fw-bold">Optimum Nutrition Gold Standard 100% Whey Protein Powder
                                </p>
                                <p>Đánh giá trung bình: 1/5 sao</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 ms-1">
            <div class="row">
                @for(product of products| paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; track
                product.id) {
                <div class="col-lg-6 col-xxl-4 col-md-6 col-12 my-2">
                    <div class="card w-100 h-100">
                        <div style="height: 226px;" class="overflow-hidden">
                            @if (product.thumbnail === null) {
                            <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                            }
                            @if (product.thumbnail !== null) {
                            <img [src]="product.thumbnail" class="card-img-top" alt="...">
                            }
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text text--shorten">{{product.productDetail.introduction}}</p>
                            <a href="" [routerLink]="['/admin/products/update-product']"
                                class="btn btn-warning mt-2 text-white" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Sửa sản phẩm"><i class="fa-solid fa-pen-to-square"></i></a>
                            <button class=" btn btn-danger mt-2 ms-2" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Xóa sản phẩm"><i class="fa-solid fa-trash-can"
                                    (click)="onDelete(product.name, product.id, deleteModal)"></i></button>
                        </div>
                    </div>
                </div>
                }
            </div>
            <!-- Modal -->
            <ng-template #deleteModal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modal.dismiss()"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc muốn xóa sản phẩm <strong>{{productNameDeleted}}</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="confirmDelete(productIdDeleted)" class="btn btn-danger">Xóa</button>
                </div>
            </ng-template>
            <div class="row mt-3 mx-auto text-center">
                <!-- ngx-pagination library -->
                <pagination-controls (pageChange)=" currentPage=$event"></pagination-controls>
            </div>
        </div>
    </div>
</section>