<header>
    <nav class="navbar fixed-top bg-dark navbar-expand-lg navbar-dark">
        <div class="container-lg p-2">
            <a href="" class="navbar-brand">
                <span class="fw-bold text-white">WheyStation</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon btn-white"></span>
            </button>
            <div class="navbar-collapse justify-content-end align-center" id="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item me-2">
                        <a [routerLink]="['/products']" class="nav-link text-white">Sản phẩm</a>
                    </li>
                    <li class="nav-item me-2">
                        <a [routerLink]="['/articles']" class="nav-link text-white">Bài viết</a>
                    </li>
                    @if(userResponse) {
                    <ng-container>
                        <ng-container ngbPopover="Tài khoản của tôi,Đơn mua,Đăng xuất" popoverTitle="User Actions"
                            triggers="click" [placement]="'auto'" container="body">
                            <li class="nav-item me-2">
                                <a href="" [routerLink]="['/orders']" class="nav-link text-white">
                                    <span class="me-2">Giỏ hàng</span>
                                    <i class="fa-solid fa-cart-shopping position-relative">
                                        @if(cart?.cartItems?.length) {
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            {{ cart?.cartItems?.length }}
                                        </span>
                                        }
                                    </i>
                                </a>
                            </li>
                            <li class="nav-item me-3 ">
                                <a style="cursor: pointer;" class="nav-link text-white"
                                    [ngbPopover]="popoverNotifications" popoverClass="notification-popover">
                                    <span class="me-2">Thông báo</span>
                                    <i class="fa fa-bell position-relative">
                                        @if(notifications?.length) {
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            {{ notifications?.length }}
                                        </span>
                                        }
                                    </i>
                                </a>
                            </li>
                            <ng-template #popoverNotifications>
                                <div class="popover-list">
                                    @if(notifications?.length === 0) {
                                    <div class="popover-item m-0 hover-notification">
                                        <p class="m-0"><i class="fa-solid fa-circle-info me-2"></i>Bạn chưa có thông báo
                                            nào!</p>
                                    </div>
                                    } @else {
                                    <div class=" popover-item m-0 hover-notification"
                                        style="border-bottom: 1px solid #ccc">
                                        <p class="m-0 fw-bold">
                                            Các thông báo sẽ chỉ tồn tại trong vòng 14 ngày!
                                        </p>
                                    </div>
                                    @for (notification of notifications; track $index) {
                                    <div class=" popover-item m-0 hover-notification"
                                        style="border-bottom: 1px solid #ccc">
                                        <p class="m-0">
                                            {{notification.message}}
                                        </p>
                                        <p class="m-0 fw-bold">{{notification.createdAt}}</p>
                                    </div>
                                    }
                                    }
                                </div>
                            </ng-template>
                            <li class="nav-item me-2">
                                <a href="" [routerLink]="['/favorites']" class="nav-link text-white">Yêu thích</a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="nav-link text-white w-content" [ngbPopover]="popoverContent"
                                    (click)="togglePopover($event)">
                                    {{ userResponse.fullName }}
                                    <i class="fa-solid fa-caret-down"></i>
                                </a>
                            </li>
                            <ng-template #popoverContent>
                                <div class="popover-list">
                                    <a class="popover-item" [routerLink]="['/user-profile']" href="">Tài khoản của
                                        tôi</a>
                                    <a class="popover-item" [routerLink]="['/orders/order-detail/', userResponse.id]"
                                        href="">Lịch sử
                                        mua hàng</a>
                                    <a class="popover-item" [routerLink]="['/comments/my-comments', userResponse.id]"
                                        href="">Đánh giá
                                        của tôi</a>
                                    <a class="popover-item" (click)="handleItemClick(2)" href="">Đăng xuất</a>
                                </div>
                            </ng-template>
                        </ng-container>
                    </ng-container>
                    } @else {
                    <li class="nav-item">
                        <a href="" [routerLink]="['/login']" class="nav-link text-white">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a href="" [routerLink]="['/register']" class="btn btn-primary text-white">Đăng ký</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>