<section id="comment-management" style="margin-top: 70px; margin-right: 10px;">
    <div class="container-lg">
        <h3 class="m-0 p-0">Quản lý bình luận</h3>
        <div class="row justify-content-center my-2">
            <div class="col-lg-8">
                <div class="list-group">
                    @for (comment of comments! | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };
                    track $index) {
                    <div class="list-group-item py-3">
                        <div class="pb-2">
                            @for (start of getStarsArray(comment.star); track $index) {
                            <i class="fa-solid fa-star text-warning"></i>
                            }
                            @for (start of getStarsArray(5 - comment.star); track $index) {
                            <i class="fa-solid fa-star"></i>
                            }
                        </div>
                        <h5 class="mb-1">{{comment.content}}</h5>
                        <p class="mb-1">{{comment.createdAt}}</p>
                        <small>Nhận xét bởi <strong>{{comment.fullName}}</strong></small>
                        <div>
                            <button class="btn btn-danger">Xóa bình luận</button>
                        </div>
                    </div>
                    }
                </div>
                <div class="row mt-3 mx-auto text-center">
                    <!-- ngx-pagination library -->
                    <pagination-controls (pageChange)=" currentPage=$event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>