<section id="product-detail-page" style="padding: 95px 0 40px 0;">
    <div class="container-lg">
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
            <li class="breadcrumb-item active" aria-current="page">Optimum Nutrition Gold Standard 100% Whey Protein Powder</li>
          </ol>
        </nav>
      </div>
      <div class="row">
            <div class="col-lg-6 col-md-12">
              <div id="carouselProductImage" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active text-center">
                        <img src="../../../assets/intro-image.jpg" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="carousel-item text-center">
                        <img src="../../../assets/intro-image.jpg" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="carousel-item text-center">
                        <img src="../../../assets/intro-image.jpg" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="carousel-item text-center">
                        <img src="../../../assets/intro-image.jpg" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="carousel-item text-center">
                        <img src="../../../assets/intro-image.jpg" class="img-fluid" alt="Product Image">
                    </div>
                </div>
                <button class="carousel-control-prev bg-dark rounded-circle" type="button" data-bs-target="#carouselProductImage" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next bg-dark rounded-circle" type="button" data-bs-target="#carouselProductImage" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="row d-none d-lg-block">
                <div class="d-flex justify-content-between my-4">
                  <div class="thumbnail-item active">
                      <img src="../../../assets/intro-image.jpg" class="thumbnail-image" alt="Thumbnail Image">
                  </div>
                  <div class="thumbnail-item">
                      <img src="../../../assets/intro-image.jpg" class="thumbnail-image" alt="Thumbnail Image">
                  </div>
                  <div class="thumbnail-item">
                      <img src="../../../assets/intro-image.jpg" class="thumbnail-image" alt="Thumbnail Image">
                  </div>
                  <div class="thumbnail-item">
                      <img src="../../../assets/intro-image.jpg" class="thumbnail-image" alt="Thumbnail Image">
                  </div>
               </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="product-details ms-3">
                    <h2>Optimum Nutrition Gold Standard 100% Whey Protein Powder</h2>
                    <p>Thương hiệu Optimum Nutrition được thành lập năm 1986, bởi 2 sáng lập viên là Tony và Michael Costello. Từ khi thành lập tới nay, Optimum Nutrition luôn đi đầu trong việc nghiên cứu và sản xuất ra các loại thực phẩm chức năng dành cho người tập Gym và luyện tập thể thao trên toàn thế giới. Hãng cam kết, tất cả các sản phẩm đều được kiểm nghiệm, kiểm tra chất lượng nghiêm ngặt với các tiêu chuẩn quốc tế trước khi đưa ra thị trường.</p>
                    <p>Optimum Nutrition là 1 thương hiệu thực phẩm thể thao, thể hình uy tín, chất lượng hàng đầu tại Mỹ. Với hơn 30 năm hoạt động, sản phẩm của hãng đã và đang nhận được sự tin tưởng và lựa chọn của rất nhiều Gymer trên toàn thế giới.</p>
                    <div class="my-3">
                      <label for="" class="fw-bold">Chọn sản phẩm</label>
                      <select class="form-select w-50" aria-label="Select Type">
                        <option selected disabled>Lựa chọn sản phẩm</option>
                        <option value="1">2lbs (907g)</option>
                        <option value="2">5lbs (2.27kg)</option>
                        <option value="3">10lbs (4.5kg)</option>
                      </select>
                    </div>
                    <div class="my-3">
                      <label for="" class="fw-bold">Hương vị</label>
                      <select class="form-select w-50" aria-label="Select Type">
                        <option selected disabled>Lựa chọn hương vị</option>
                        <option value="1">Delicious Strawberry</option>
                        <option value="2">Milk Tea</option>
                        <option value="3">Vanilla Ice Cream</option>
                        <option value="4">Cookies & Cream</option>
                        <option value="5">Double Rich Chocolate</option>
                      </select>
                    </div>
                    <h3>
                      <span class="text-danger me-3 text-decoration-line-through">1.750.00đ</span>
                      <span>1.526.000đ</span>
                    </h3>
                    <div class="product-actions mt-3">
                      <button class="btn btn-secondary me-3">Thêm vào giỏ hàng</button>
                      <button class="btn btn-primary">Mua ngay</button>
                    </div>
                </div>
            </div>
      </div>
      <div class="row mt-3">
            <div class="col-md-6">
              <h5>Gold Standard 100% Whey - Vững vàng phong độ Best Seller toàn cầu trong 1 thập kỷ</h5>
              <p>Gold Standard 100% Whey là loại sữa tăng cơ chủ lực của Optimum Nutrition - Một trong những thương hiệu hùng mạnh nhất của ngành công nghiệp sản xuất dinh dưỡng thể hình.</p>
              <p>Với công thức “3 trong 1” tối ưu cùng bảng vị đa dạng, Gold Standard 100% Whey trở thành loại whey protein có số lượng bán ra cao nhất thế giới trong 10 năm liên tiếp.</p>
              <h5>Ưu điểm nổi bật</h5>
              <p>Gold Standard 100% Whey 5lbs được sản xuất bởi Optimum Nutrition. Thương hiệu này có tuổi đời gần 40 năm và phân phối sản phẩm tại hơn 100 quốc gia và vùng lãnh thổ, trong đó có nhiều thị trường tiêu chuẩn cao như tại Bắc Mỹ và Châu Âu.</p>
              <p>Gold Standard 100% Whey 5lbs là sự kết hợp giữa:</p>
              <ul>
                <li>Whey Protein Isolates.</li>
                <li>Whey Protein Concentrate.</li>
                <li>Whey Peptides.</li>
              </ul>
              <p>Whey isolate và whey peptides thuộc tầng whey hấp thụ nhanh, sau khi đi vào cơ thể sẽ được vận chuyển ngay đến cơ bắp. Whey Concentrate là tầng whey hấp thụ chậm hơn, chịu trách nhiệm từ từ tham gia quá trình tổng hợp protein trong nhiều giờ sau đó. Sự kết hợp này tạo ra dòng chảy protein đa tầng, đa chức năng và hấp thụ dàn trải, góp phần phục hồi và nuôi dưỡng cơ bắp to khỏe hơn sau mỗi buổi tập.</p>
              <p>Sản phẩm áp dụng công nghệ lọc độc quyền giúp loại bỏ phần lớn fat và lactose, đồng thời giữ được nguồn dinh dưỡng tự nhiên trong sữa bò.</p>
              <p>Gold Standard 100% Whey đủ bộ tiêu chuẩn:</p>
              <ul>
                <li>Không Gluten.</li>
                <li>Không hormone nhân tạo.</li>
                <li>Banned Substance Tested: Đã qua kiểm nghiệm chất cấm.</li>
                <li>Sản phẩm với mùi vị đa dạng, thơm ngon dễ uống, dễ hòa tan khi sử dụng bình lắc.</li>
              </ul>
              <h5>Thành phần của Gold Standard 100% Whey</h5>
              <p>1 serving (1 muỗng trọng lượng khoảng 30 - 33g tùy vị) Gold Standard 100% Whey cung cấp:</p>
              <ul>
                <li>24g protein chất lượng cao (chiếm 79%).</li>
                <li>5.5g BCAA tự nhiên.</li>
                <li>2g fat.</li>
                <li>3g carbohydrates.</li>
                <li>1g đường.</li>
              </ul>
              <h5>Công dụng</h5>
              <ul>
                <li>Cung cấp protein tinh khiết cho cơ bắp, tăng tốc độ tổng hợp protein, giúp cơ bắp nạc, khỏe và căng phồng hơn.</li>
                <li>Hỗ trợ phục hồi cơ bắp sau buổi tập cường độ cao.</li>
                <li>Rút ngắn thời gian cutting.</li>
                <li>Hạn chế cholesterol nạp vào cơ thể (khi so sánh với lượng thịt đỏ cung cấp số gam protein tương tự 1 muỗng whey).</li>
                <li>Tạo cảm giác no lâu, góp phần hỗ trợ kiểm soát cân nặng.</li>
              </ul>
              <h5>Hướng dẫn sử dụng</h5>
              <p>Để đạt hiệu quả hữu hiệu khi sử dụng Whey Gold, các bạn nên uống 1 muỗng vào các thời điểm:</p>
              <ul>
                <li>Sáng 1 lần khi ngủ dậy và uống sau tập 1 lần.</li>
                <li>Pha 1 muỗng với 250ml - 300ml nước lạnh, sử dụng bình lắc để lắc đều đến khi tan bột.</li>
                <li>Uống ngay sau khi pha.</li>
              </ul>
              <h5>Lưu ý</h5>
              <ul>
                <li>Bảo quản sản phẩm ở nơi khô ráo, thoáng mát.</li>
                <li>Sử dụng xong phải đóng kín sản phẩm.</li>
                <li>Sản phẩm không dành cho trẻ em dưới 16 tuổi.</li>
                <li>Trong trường hợp bạn mang thai, chỉ sử dụng sản phẩm khi có sự chỉ định của bác sĩ.</li>
                <li>Sản phẩm không phải là thuốc và không có tác dụng thay thế thuốc chữa bệnh.</li>
                <li>Nếu mẫn cảm với bất kỳ thành phần nào của sản phẩm, hãy tham khảo ý kiến bác sĩ trước khi dùng.</li>
              </ul>
            </div>
            <div class="col-md-6">
                <h4>Thông tin sản phẩm</h4>
                <table class="table">
                    <tbody>
                      <tr>
                        <td class="fw-bold">Thương hiệu</td>
                        <td>Optimum Nutrition</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Trọng lượng</td>
                        <td>5lbs (2.27kg)</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Serving Size</td>
                        <td>1 muỗng (30.4g - 33g tùy vị)</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Số lần dùng</td>
                        <td>68 - 74 lần dùng</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Thành phần protein</td>
                        <td>Whey Peptides , Whey Protein Concentrate , Whey Protein Isolate</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Hương vị</td>
                        <td>Double Rich Chocolate , Delicious Strawberry , Milk Tea , Vanilla Ice Cream , Mocha Cappuccino , Cookies & Cream , Extreme Milk Chocolate , French Vanilla Creme</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Hàm lượng protein</td>
                        <td>24g protein / lần dùng</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Calories</td>
                        <td>120 - 130 Kcal / lần dùng</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Xuất xứ</td>
                        <td>USA</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-center mt-5">
                    <img src="../../../assets/certificate.webp" class="img-fluid" alt="">
                  </div>
            </div>
      </div>
    </div>
</section>