<app-header></app-header>
<section id="order-detail" style="padding: 90px 0 40px 0;">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6">
                <h2>Thông tin người nhận</h2>
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Họ và tên:</span> Trần Văn Đặt</p>
                </div>
                <!-- Các trường thông tin khác -->
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Email:</span> tranvandat&#64;gmail.com</p>
                </div>
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Số điện thoại:</span> 0867628073</p>
                </div>
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Địa chỉ:</span> Thôn Đức Quang, xã Đức Hợp, huyện Kim Động, tỉnh Hưng Yên</p>
                </div>
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Ghi chú:</span> Sân bóng dội 5</p>
                </div>
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Phương thức vận chuyển:</span> Nhanh (Express)</p>
                </div>
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Phương thức thanh toán:</span> COD</p>
                </div>  
            </div>
            <div class="col-lg-6">
                <h2>Sản phẩm đã đặt hàng</h2>
                <table class="table table-striped">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col" class="text-start">Sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Tổng giá</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex flex-column">
                                    <img 
                                    src="../../../assets/intro-image.jpg"
                                    alt="Product Image" class="product-image">
                                    <span class="fw-bold">Optimum Nutrition Gold Standard 100% Whey Protein Powder</span>
                                </div>
                            </td>
                            <td>2</td>
                            <td>100,000 đ</td>
                            <td>200,000 đ</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex flex-column">
                                    <img 
                                    src="../../../assets/intro-image.jpg"
                                    alt="Product Image" class="product-image">
                                    <span class="fw-bold">Optimum Nutrition Gold Standard 100% Whey Protein Powder</span>
                                </div>
                            </td>
                            <td>2</td>
                            <td>100,000 đ</td>
                            <td>200,000 đ</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex flex-column">
                                    <img 
                                    src="../../../assets/intro-image.jpg"
                                    alt="Product Image" class="product-image">
                                    <span class="fw-bold">Optimum Nutrition Gold Standard 100% Whey Protein Powder</span>
                                </div>
                            </td>
                            <td>2</td>
                            <td>100,000 đ</td>
                            <td>200,000 đ</td>
                        </tr>
                    </tbody>
                </table>   
                <div class="text-center mt-3">
                   <button class="btn btn-primary" type="button">Tiếp tục mua sắm</button>
                </div> 
            </div>
        </div>    
    </div>
</section>
<app-footer></app-footer>