<app-header></app-header>
<section id="order-detail" style="padding: 90px 0 40px 0;">
    <div class="container-lg">
        <div class="row">
            @if(orderDetailResponses?.length === 0) {
            <div class="d-flex justify-content-center flex-column w-100 text-center mt-5">
                <div>
                    <i class="fa-solid fa-cart-shopping text-muted" style="font-size: 80px;"></i>
                </div>
                <h2 class=" text-center mt-3">Chưa có sản phẩm nào trong lịch sử mua hàng của bạn.</h2>
                <p class="text-muted" style="font-size: 20px;">Mua sắm tại WheyStation ngay thôi!</p>
                <a href="" [routerLink]=" ['/products']" class="btn btn-primary mx-auto mt-2 w-content">Xem toàn bộ
                    sản phẩm</a>
            </div>
            }
            @for (orderDetailResponse of orderDetailResponses! | paginate: { itemsPerPage: itemsPerPage, currentPage:
            currentPage }; track $index) {
            <div class="col-lg-6">
                <h2>Thông tin người nhận</h2>
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Họ và tên:</span>
                        {{orderDetailResponse?.order?.fullName}}</p>
                </div>
                <!-- Các trường thông tin khác -->
                <!-- <div class="mb-3">
                        <p class="form-label"><span class="fw-bold">Email:</span> {{orderDetailResponse?.order?.email}}</p>
                    </div> -->
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Số điện thoại:</span>
                        {{orderDetailResponse?.order?.phoneNumber}}</p>
                </div>
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Địa chỉ:</span>
                        {{orderDetailResponse?.order?.shippingAddress}}
                    </p>
                </div>
                <div class="mb-3">
                    @switch (orderDetailResponse?.order?.status) {
                    @case ('Success') {
                    <p class="form-label"><span class="fw-bold me-2">Trạng thái:</span>
                        <span class="text-success fw-bold">Thành công</span>
                    </p>
                    }
                    @case ('Cancelled') {
                    <p class="form-label"><span class="fw-bold me-2">Trạng thái:</span>
                        <span class="text-danger fw-bold">Đã hủy</span>
                    </p>
                    }
                    @case ('Pending') {
                    <p class="form-label"><span class="fw-bold me-2">Trạng thái:</span>
                        <span class="text-warning fw-bold">Chờ xác nhận</span>
                    </p>
                    }
                    @default {
                    <p class="form-label"><span class="fw-bold me-2">Trạng thái:</span>
                        <span class="text-primary fw-bold">Đang vận chuyển</span>
                    </p>
                    }
                    }
                </div>
                @if (orderDetailResponse?.order?.note !== null) {
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Ghi chú:</span> {{orderDetailResponse?.order?.note}}</p>
                </div>
                }
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Phương thức vận chuyển:</span>
                        {{orderDetailResponse?.order?.shippingMethod}}</p>
                </div>
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Phương thức thanh toán:</span>
                        {{orderDetailResponse?.order?.paymentMethod}}</p>
                </div>
                @if(orderDetailResponse?.order?.shippingDate) {
                <div class="mb-3">
                    <p class="form-label"><span class="fw-bold">Ngày giao hàng:</span>
                        {{orderDetailResponse?.order?.shippingDate}}</p>
                </div>
                }
                @if(orderDetailResponse?.order?.status==='Pending') {
                <button type="button" class="btn btn-danger text-white ms-3"
                    (click)="cancelOrder(orderDetailResponse.order.id)">Hủy đơn hàng</button>
                }
                @if(orderDetailResponse?.order?.status === 'Success') {
                <div class="mb-3">
                    @if(!orderDetailResponse?.order?.isCommented) {
                    <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"
                        class="btn btn-warning text-white">Thêm
                        nhận xét</button>
                    }
                    <button type="button" data-bs-toggle="modal" data-bs-target="#invoiceModal"
                        class="btn btn-primary text-white ms-3">Chi tiết hóa đơn</button>
                    <!--Invoice Modal -->
                    <div class="modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Hóa đơn chi tiết</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="invoice-box" id="invoice">
                                        <table cellpadding="0" cellspacing="0">
                                            <tr class="top_rw">
                                                <td colspan="2">
                                                    <h2 style="margin-bottom: 0px;">Hóa đơn bán hàng</h2>
                                                    <span> Mã số: 27B00032991LQ354 Ngày:
                                                        {{now.toLocaleDateString() |
                                                        date:'fullDate'}}</span>
                                                </td>
                                            </tr>
                                            <tr class="top">
                                                <td colspan="3">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <b>Bên bán: Công ty cổ phần WheyStation </b> <br>
                                                                <b>Trụ sở chính: Số 92/44 Xuân Thủy, Cầu Giấy, Hà Nội
                                                                </b> <br>
                                                                <b>Số điện thoại: +84 676 28074
                                                                </b> <br>
                                                                <b>Email: wheystation&#64;contact.gmail.com
                                                                </b> <br>
                                                                <b>Mã số thuế: 1562596385656235
                                                                </b> <br>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr class="information">
                                                <td colspan="3">
                                                    <table>
                                                        <tr>
                                                            <td colspan="2">
                                                                <b>Bên mua: {{orderDetailResponse.order.fullName}} </b>
                                                                <br>
                                                                <b>Số điện thoại:
                                                                    {{orderDetailResponse.order.phoneNumber}} </b><br>
                                                                <b>Phương thức thanh toán:
                                                                    {{orderDetailResponse.order.paymentMethod}} </b><br>
                                                                <b>Phương thức vận chuyển:
                                                                    {{orderDetailResponse.order.shippingMethod}}
                                                                </b><br>
                                                            </td>
                                                            <td> <b>Địa chỉ:
                                                                    {{orderDetailResponse.order.shippingAddress}}
                                                                </b><br>
                                                                <b>Trạng thái đơn hàng: Thành công
                                                                </b><br>
                                                                <b>Ngày giao hàng:
                                                                    {{orderDetailResponse.order.shippingDate}}
                                                                </b><br>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <td colspan="3">
                                                <table cellspacing="0px" cellpadding="2px">
                                                    <tr class="heading">
                                                        <td style="width:25%;">
                                                            SẢN PHẨM
                                                        </td>
                                                        <td style="width:10%; text-align:center;">
                                                            SỐ LƯỢNG
                                                        </td>
                                                        <td style="width:10%; text-align:center;">
                                                            ĐƠN GIÁ
                                                        </td>
                                                        <td style="width:15%; text-align:center;">
                                                            TỔNG TIỀN
                                                        </td>
                                                    </tr>
                                                    @for (productInfor of orderDetailResponse?.detailResponses;
                                                    track $index) {
                                                    <tr class="item">
                                                        <td style="width:25%;">
                                                            {{productInfor.productName}}
                                                        </td>
                                                        <td class="text-center">{{productInfor.numberOfProducts}}</td>
                                                        <td class="fw-bold text-center">
                                                            {{formatPrice(productInfor.price)}}</td>
                                                        <td class="fw-bold text-center">
                                                            {{formatPrice(productInfor.totalMoney)}}
                                                        </td>
                                                    </tr>
                                                    }
                                                </table>
                                                <tr class="total">
                                                    <td colspan="3" align="right"> Tổng số tiền : <b>
                                                            {{formatPrice(orderDetailResponse?.order?.totalMoney)}} </b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <table cellspacing="0px" cellpadding="2px">
                                                            <tr>
                                                                <td width="50%">
                                                                    <b> Cam kết: </b> <br>
                                                                    We declare that this invoice shows the actual price
                                                                    of the goods
                                                                    described above and that all particulars are true
                                                                    and correct. The
                                                                    goods sold are intended for end user consumption and
                                                                    not for resale.
                                                                </td>
                                                                <td>
                                                                    * This is a computer generated invoice and does not
                                                                    require a physical signature
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="50%">
                                                                </td>
                                                                <td>
                                                                    <b> Chữ ký người nhận </b>
                                                                    <br>
                                                                    <br>
                                                                    {{orderDetailResponse.order.fullName}}
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" (click)="generateInvoice()">Tải
                                        xuống</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm nhận xét</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" [formGroup]="commentForm">
                                        <div formArrayName="comments">
                                            <div *ngFor="let commentControl of comments.controls; let i = index"
                                                [formGroupName]="i" class="mt-3">
                                                <div class="d-flex flex-row mb-3">
                                                    <img [src]="commentControl.get('productThumbnail')?.value"
                                                        class="img-fluid" style="width: 100px" alt="">
                                                    <div class="ms-3">
                                                        <h4 class="fw-bold">{{commentControl.get('productName')?.value}}
                                                        </h4>
                                                        <ngb-rating formControlName="rating" [max]="5"></ngb-rating>
                                                    </div>
                                                </div>
                                                <textarea class="form-control" formControlName="content"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- @for (orderDetailResponse of orderDetailResponses; track $index) {
                                    @if(!orderDetailResponse.order.isCommented) {
                                    @for (detailResponse of orderDetailResponse.detailResponses; track $index)
                                    {
                                    <div class="mt-3">
                                        <div class="d-flex flex-row mb-3">
                                            <img [src]=" detailResponse.productThumbnail" class="img-fluid"
                                                style="width: 100px" alt="">
                                            <div class="ms-3">
                                                <h4 class="fw-bold">{{detailResponse.productName}}</h4>
                                                <ngb-rating [formControl]="ratingControl" [max]="5"></ngb-rating>
                                            </div>
                                        </div>
                                        <textarea class="form-control" [formControl]="commentControl"></textarea>
                                    </div>
                                    }
                                    }
                                    } -->
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                    <button type="button" class="btn btn-primary" (click)="comment()">Thêm nhận
                                        xét</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="col-lg-6">
                <h2>Sản phẩm đã đặt hàng</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-start">Sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Tổng giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (productInfor of orderDetailResponse?.detailResponses; track $index) {
                        <tr>
                            <td>
                                <div class="d-flex flex-column">
                                    <img [src]="productInfor.productThumbnail" alt="Product Image"
                                        class="product-image">
                                    <span class="fw-bold">{{productInfor.productName}}</span>
                                </div>
                            </td>
                            <td>{{productInfor.numberOfProducts}}</td>
                            <td class="fw-bold">{{formatPrice(productInfor.price)}}</td>
                            <td class="fw-bold">{{formatPrice(productInfor.totalMoney)}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
                <h4 class="text-end">Tổng tiền: {{formatPrice(orderDetailResponse?.order?.totalMoney)}}</h4>
                <!-- <div class="text-center mt-3">
                        <button class="btn btn-primary" [routerLink]="['/products']" type="button">Tiếp tục mua sắm</button>
                    </div> -->
            </div>
            }
        </div>
        @if(orderDetailResponses?.length! > 0) {
        <div class="row mt-3 mx-auto text-center">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
        }
    </div>
</section>
<app-footer></app-footer>