<section id="user-management" style="margin-top: 70px; height: 100vh;">
    <div class="row m-3">
        <h2>Tạo blog</h2>
        <form action="" [formGroup]="blogForm" enctype="multipart/form-data" (ngSubmit)="createAtricle()">
            <div class="form-group">
                <label for="title" class="mb-2">Tiêu đề</label>
                <input type="text" class="form-control" formControlName="title" placeholder="Nhập tiêu đề...">
                @if(blogForm.controls['title'].invalid && (blogForm.controls['title'].dirty ||
                blogForm.controls['title'].touched)) {
                <p class="text-danger mt-2" *ngIf="blogForm.controls['title'].errors?.['required']">
                    Bắt buộc phải tiêu đề</p>
                }
            </div>
            <div class="form-group my-2">
                <label for="imageFile" class="mb-2">Ảnh</label>
                <input type="file" class="form-control" (change)="onFileChange($event)" placeholder="Nhập tiêu đề...">
            </div>
            <div class="form-group my-2">
                <label for="category" class="mb-2">Danh mục</label>
                <select formControlName="category" class="form-select w-50" aria-label="Select Type">
                    <option disabled>Chọn danh mục</option>
                    @for (category of articleCategories; track $index) {
                    <option [value]="category.id">{{category.name}}</option>
                    }
                </select>
            </div>
            <div>
                <label for="centent" class="mb-2">Nội dung</label>
                <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig"
                    formControlName="content"></angular-editor>
                @if(blogForm.controls['content'].invalid && (blogForm.controls['content'].dirty ||
                blogForm.controls['content'].touched)) {
                <p class="text-danger mt-2" *ngIf="blogForm.controls['content'].errors?.['required']">
                    Bắt buộc phải nhập nội dung</p>
                }
            </div>
            <div class="form-group py-2">
                <button type="submit" class="btn btn-primary">Tạo
                    bài viết</button>
            </div>
        </form>
    </div>
</section>