<section id="intro">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center text-start">
                <h2>
                    <div class="display-5 fw-bold mb-3">Optimum Nutrition Gold Standard 100% Whey Protein Powder</div>
                    <div class="display-6 text-muted">Dòng Whey tốt nhất trên thị trường hiện nay. 100% whey thủy phân hoàn toàn.</div>
                </h2>
                <p class="lead text-muted my-4">Còn chần chừ gì nữa, thêm ngay vào giỏ hàng của mình thôi nào.</p>
                <a href="" class="btn btn-primary btn-lg me-3">Mua ngay</a>
                <!-- open sidebar / offcanvas -->
                <a href="" class="btn btn-secondary btn-lg" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
                    Xem tất cả sản phẩm
                </a>
            </div>
            <div class="col-md-5 mt-3 text-center d-none d-lg-block">
                <img src="../../../assets/intro-image.jpg" class="img-fluid" alt="ebook">
            </div>
        </div>
    </div>
</section>
<section id="most-popular-product" class="bg-light" style="padding: 0 0 60px 0;">
    <div class="container-lg py-4">
        <div class="text-center">
            <h2 class="fw-bold">Sản phẩm bán chạy</h2>
            <p class="lead text-muted">Top những sản phẩm được ưa chuộng nhất tại WheyStation.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-6 col-8 mb-3">
                <div class="card w-100">
                    <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-8 mb-3">
                <div class="card w-100">
                    <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-8 mb-3">
                <div class="card w-100">
                    <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div> 
            <div class="col-xl-3 col-md-6 col-8 mb-3">
                <div class="card w-100">
                    <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="reviews">
    <div class="container-lg mt-4">
      <div class="text-center">
        <h2><i class="bi bi-stars"></i>Đánh giá của khách hàng</h2>
        <p class="lead">Khánh hàng đánh giá gì về dịch vụ của chúng tôi...</p>
      </div>

      <div class="row justify-content-center my-5">
        <div class="col-lg-8">
          <div class="list-group">
            <div class="list-group-item py-3">
              <div class="pb-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <h5 class="mb-1">A must-buy for every aspiring web dev</h5>
              <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur error veniam sit expedita est illo maiores neque quos nesciunt, reprehenderit autem odio commodi labore praesentium voluptate repellat in id quisquam.</p>
              <small>Review by Mario</small>
            </div>
            <div class="list-group-item py-3">
              <div class="pb-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <h5 class="mb-1">A must-buy for every aspiring web dev</h5>
              <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur error veniam sit expedita est illo maiores neque quos nesciunt, reprehenderit autem odio commodi labore praesentium voluptate repellat in id quisquam.</p>
              <small>Review by Mario</small>
            </div>
            <div class="list-group-item py-3">
              <div class="pb-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <h5 class="mb-1">A must-buy for every aspiring web dev</h5>
              <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur error veniam sit expedita est illo maiores neque quos nesciunt, reprehenderit autem odio commodi labore praesentium voluptate repellat in id quisquam.</p>
              <small>Review by Mario</small>
            </div>
            <div class="list-group-item py-3">
              <div class="pb-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <h5 class="mb-1">A must-buy for every aspiring web dev</h5>
              <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur error veniam sit expedita est illo maiores neque quos nesciunt, reprehenderit autem odio commodi labore praesentium voluptate repellat in id quisquam.</p>
              <small>Review by Mario</small>
            </div>
            <div class="list-group-item py-3">
              <div class="pb-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <h5 class="mb-1">A must-buy for every aspiring web dev</h5>
              <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur error veniam sit expedita est illo maiores neque quos nesciunt, reprehenderit autem odio commodi labore praesentium voluptate repellat in id quisquam.</p>
              <small>Review by Mario</small>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="bg-light" id="about-us" style="padding: 30px 0 50px 0;">
    <div class="container">
      <div class="text-center">
        <h2>WheyStation là gì?</h2>
        <p class="lead">Get the latest updates as they happen...</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <p class="text-muted my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero exercitationem voluptatibus porro, hic asperiores fuga illo voluptates obcaecati deleniti veritatis sunt saepe quasi deserunt ex ipsum. Est possimus, aspernatur, vitae eligendi rem odit quaerat, ipsum pariatur ratione maxime delectus fuga minus accusamus dolores iusto maiores accusantium cumque magnam placeat quia!</p>
        </div>
      </div>
    </div>
</section>