<section id="order-admin" style="margin-top: 70px; margin-right: 10px;">
    <div class="container-lg ">
        <div class="d-flex flex-row w-content flex-start align-items-center mb-3">
            <h3 class="m-0 me-2">Quản lý đơn hàng</h3>
            <!-- <div class="w-content">
                <select [(ngModel)]="selectedYear" (change)="loadDataForYear(selectedYear)"
                    class="form-select w-content">
                    @for (year of years; track $index) {
                    @if (year < 2023) { <option value="{{year}}" disabled>{{year}}</option>
                        }@else {
                        <option value="{{year}}">{{year}}</option>
                        }
                        }
                </select>
            </div> -->
        </div>
        <!-- <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header bg-success text-white"><i class="fa-solid fa-thumbs-up me-2"></i>Số lượng đơn
                        hàng thành
                        công</h5>
                    <div class="card-body">
                        <h5 class="card-title">15,200 đơn hàng</h5>
                        <p class="text-danger">Giảm 12.5%<i class="fa-solid fa-arrow-trend-down ms-2"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header bg-danger text-white"><i class="fa-solid fa-thumbs-down me-2"></i>Số lượng
                        đơn hàng hoàn trả</h5>
                    <div class="card-body">
                        <h5 class="card-title">12,200 đơn hàng</h5>
                        <p class="text-danger">Giảm 5.5%<i class="fa-solid fa-arrow-trend-down ms-2"></i></p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row mt-3 ms-1">
            <table id="userTable" datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger"
                class="table responsive w-100 nowrap table-bordered table-striped table-hover mt-4 mb-3">
                <thead class="table-dark mt-3">
                    <tr>
                        <th>Người nhận</th>
                        <th>Ngày nhận hàng</th>
                        <th>Tổng số tiền</th>
                        <th>Phương thức thanh toán</th>
                        <th>Trạng thái</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (orderDetailResponse of orderDetailResponses; track $index) {
                    <tr>
                        <td>{{orderDetailResponse.order.fullName}}</td>
                        <td class="text-center">{{orderDetailResponse.order.shippingDate}}</td>
                        <td class="text-center fw-bold">{{formatPrice(orderDetailResponse.order.totalMoney)}}</td>
                        <td class="text-center fw-bold">{{orderDetailResponse.order.paymentMethod}}</td>
                        @if(orderDetailResponse.order.status === 'Success') {
                        <td class="text-center fw-bold text-success">{{orderDetailResponse.order.status}}</td>
                        }
                        @if (orderDetailResponse.order.status === 'Cancelled') {
                        <td class="text-center fw-bold text-danger">{{orderDetailResponse.order.status}}</td>
                        }
                        @if(orderDetailResponse.order.status === 'Pending') {
                        <td class="text-success fw-bold">
                            <select [(ngModel)]="status" class="form-select">
                                <option value="Delivering">Đang vận chuyển</option>
                                <option value="Success">Thành công</option>
                                <option value=" Cancelled">Đã hủy</option>
                            </select>
                        </td>
                        }
                        @if(orderDetailResponse.order.status === 'Delivering') {
                        <td class="text-success fw-bold">
                            <select [(ngModel)]="status" class="form-select">
                                <option value="Success">Thành công</option>
                                <option value=" Cancelled">Đã hủy</option>
                            </select>
                        </td>
                        }
                        <td class="text-center">
                            <button type="button" (click)="openModal(invoiceModal)" class="btn btn-success ms-3"><i
                                    class="fa-solid fa-file-pdf"></i></button>
                            @if(orderDetailResponse.order.status === 'Pending' || orderDetailResponse.order.status ===
                            'Delivering') {
                            <button class="btn btn-warning ms-3 text-white" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Cập nhật đơn"><i class="fa-solid fa-file-pen"
                                    (click)="updateOrder(orderDetailResponse.order.id)"></i></button>
                            }
                        </td>

                    </tr>
                    <ng-template #invoiceModal let-modal>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Hóa đơn chi tiết</h5>
                                    <button type="button" class="btn-close" (click)="modal.dismiss()"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="invoice-box" id="invoice">
                                        <table cellpadding="0" cellspacing="0">
                                            <tr class="top_rw">
                                                <td colspan="2">
                                                    <h2 style="margin-bottom: 0px;">Hóa đơn bán hàng</h2>
                                                    <span> Mã số: 27B00032991LQ354 Ngày:
                                                        {{now.toLocaleDateString() |
                                                        date:'fullDate'}}</span>
                                                </td>
                                            </tr>
                                            <tr class="top">
                                                <td colspan="3">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <b>Bên bán: Công ty cổ phần WheyStation </b>
                                                                <br>
                                                                <b>Trụ sở chính: Số 92/44 Xuân Thủy, Cầu Giấy,
                                                                    Hà Nội
                                                                </b> <br>
                                                                <b>Số điện thoại: +84 676 28074
                                                                </b> <br>
                                                                <b>Email: wheystation&#64;contact.gmail.com
                                                                </b> <br>
                                                                <b>Mã số thuế: 1562596385656235
                                                                </b> <br>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr class="information">
                                                <td colspan="3">
                                                    <table>
                                                        <tr>
                                                            <td colspan="2">
                                                                <b>Bên mua:
                                                                    {{orderDetailResponse.order.fullName}} </b>
                                                                <br>
                                                                <b>Số điện thoại:
                                                                    {{orderDetailResponse.order.phoneNumber}}
                                                                </b><br>
                                                                <b>Phương thức thanh toán:
                                                                    {{orderDetailResponse.order.paymentMethod}}
                                                                </b><br>
                                                                <b>Phương thức vận chuyển:
                                                                    {{orderDetailResponse.order.shippingMethod}}
                                                                </b><br>
                                                            </td>
                                                            <td> <b>Địa chỉ:
                                                                    {{orderDetailResponse.order.shippingAddress}}
                                                                </b><br>
                                                                <b>Trạng thái đơn hàng: Thành công
                                                                </b><br>
                                                                <b>Ngày giao hàng:
                                                                    {{orderDetailResponse.order.shippingDate}}
                                                                </b><br>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <td colspan="3">
                                                <table cellspacing="0px" cellpadding="2px">
                                                    <tr class="heading">
                                                        <td style="width:25%;">
                                                            SẢN PHẨM
                                                        </td>
                                                        <td style="width:10%; text-align:center;">
                                                            SỐ LƯỢNG
                                                        </td>
                                                        <td style="width:10%; text-align:center;">
                                                            ĐƠN GIÁ
                                                        </td>
                                                        <td style="width:15%; text-align:center;">
                                                            TỔNG TIỀN
                                                        </td>
                                                    </tr>
                                                    @for (productInfor of orderDetailResponse?.detailResponses;
                                                    track $index) {
                                                    <tr class="item">
                                                        <td style="width:25%;">
                                                            {{productInfor.productName}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{productInfor.numberOfProducts}}</td>
                                                        <td class="fw-bold text-center">
                                                            {{formatPrice(productInfor.price)}}</td>
                                                        <td class="fw-bold text-center">
                                                            {{formatPrice(productInfor.totalMoney)}}
                                                        </td>
                                                    </tr>
                                                    }
                                                </table>
                                                <tr class="total">
                                                    <td colspan="3" align="right"> Tổng số tiền : <b>
                                                            {{formatPrice(orderDetailResponse?.order?.totalMoney)}}
                                                        </b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <table cellspacing="0px" cellpadding="2px">
                                                            <tr>
                                                                <td width="50%">
                                                                    <b> Cam kết: </b> <br>
                                                                    We declare that this invoice shows the
                                                                    actual price
                                                                    of the goods
                                                                    described above and that all particulars are
                                                                    true
                                                                    and correct. The
                                                                    goods sold are intended for end user
                                                                    consumption and
                                                                    not for resale.
                                                                </td>
                                                                <td>
                                                                    * This is a computer generated invoice and
                                                                    does not
                                                                    require a physical signature
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="50%">
                                                                </td>
                                                                <td>
                                                                    <b> Chữ ký người nhận </b>
                                                                    <br>
                                                                    <br>
                                                                    {{orderDetailResponse.order.fullName}}
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        (click)="modal.dismiss()">Close</button>
                                    <button type="button" class="btn btn-success" (click)="generateInvoice()">Tải
                                        xuống</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <!--Invoice Modal -->
                    <!-- <div class="modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        
                    </div> -->
                    }
                    <!-- <td class="text-success fw-bold">
                            <select class="form-select">
                                <option value="Peding">Chờ xử lý</option>
                                <option value="Delivering">Đã xuất hàng</option>
                            </select>
                        </td> -->
                </tbody>
            </table>
        </div>
    </div>
</section>