<section id="order-admin" style="margin-top: 70px; margin-right: 10px;">
    <div class="container-lg ">
        <div class="d-flex flex-row w-content flex-start align-items-center mb-3">
            <h3 class="m-0 me-2">Quản lý đơn hàng <br> Số liệu năm {{selectedYear}}</h3>
            <div class="w-content">
                <select [(ngModel)]="selectedYear" (change)="loadDataForYear(selectedYear)"
                    class="form-select w-content">
                    @for (year of years; track $index) {
                    @if (year < 2023) { <option value="{{year}}" disabled>{{year}}</option>
                        }@else {
                        <option value="{{year}}">{{year}}</option>
                        }
                        }
                </select>
            </div>
        </div>
        <!-- <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header bg-success text-white"><i class="fa-solid fa-thumbs-up me-2"></i>Số lượng đơn
                        hàng thành
                        công</h5>
                    <div class="card-body">
                        <h5 class="card-title">15,200 đơn hàng</h5>
                        <p class="text-danger">Giảm 12.5%<i class="fa-solid fa-arrow-trend-down ms-2"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-10 mb-3">
                <div class="card p-0">
                    <h5 class="card-header bg-danger text-white"><i class="fa-solid fa-thumbs-down me-2"></i>Số lượng
                        đơn hàng hoàn trả</h5>
                    <div class="card-body">
                        <h5 class="card-title">12,200 đơn hàng</h5>
                        <p class="text-danger">Giảm 5.5%<i class="fa-solid fa-arrow-trend-down ms-2"></i></p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row mt-3 ms-1">
            <table id="userTable" datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger"
                class="table responsive w-100 nowrap table-bordered table-striped table-hover mt-4 mb-3">
                <thead class="table-dark mt-3">
                    <tr>
                        <th>Người nhận</th>
                        <th>Ngày nhận hàng</th>
                        <th>Tổng số tiền</th>
                        <th>Phương thức thanh toán</th>
                        <th>Trạng thái</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (orderDetail of orderDetailResponses; track $index) {
                    <tr>
                        <td>{{orderDetail.order.fullName}}</td>
                        <td class="text-center">{{orderDetail.order.shippingDate}}</td>
                        <td class="text-center fw-bold">{{formatPrice(orderDetail.order.totalMoney)}}</td>
                        <td class="text-center fw-bold">{{orderDetail.order.paymentMethod}}</td>
                        @if(orderDetail.order.status === 'Success') {
                        <td class="text-center fw-bold text-success">{{orderDetail.order.status}}</td>
                        }
                        @if (orderDetail.order.status === 'Cancelled') {
                        <td class="text-center fw-bold text-danger">{{orderDetail.order.status}}</td>
                        }
                        @if(orderDetail.order.status === 'Pending') {
                        <td class="text-success fw-bold">
                            <select [(ngModel)]="status" class="form-select">
                                <option value="Delivering">Đang vận chuyển</option>
                                <option value="Success">Thành công</option>
                                <option value=" Cancelled">Đã hủy</option>
                            </select>
                        </td>
                        }
                        @if(orderDetail.order.status === 'Delivering') {
                        <td class="text-success fw-bold">
                            <select [(ngModel)]="status" class="form-select">
                                <option value="Success">Thành công</option>
                                <option value=" Cancelled">Đã hủy</option>
                            </select>
                        </td>
                        }
                        <td class="text-center">
                            <button class="btn btn-success ms-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Xuất hóa đơn"><i class="fa-solid fa-file-pdf"></i></button>
                            <button class="btn btn-warning ms-3 text-white" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Cập nhật đơn"><i class="fa-solid fa-file-pen"
                                    (click)="updateOrder(orderDetail.order.id)"></i></button>
                        </td>
                    </tr>
                    }
                    <!-- <td class="text-success fw-bold">
                            <select class="form-select">
                                <option value="Peding">Chờ xử lý</option>
                                <option value="Delivering">Đã xuất hàng</option>
                            </select>
                        </td> -->
                </tbody>
            </table>
        </div>
    </div>
</section>