<section id="user-management" style="margin-top: 70px; margin-right: 10px;">
    <div class="container-lg">
        <h3 class="m-0 p-0">Quản lý người dùng</h3>
        <div class="row mt-3 ms-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Phone</th>
                        <th class="display-none">Address</th>
                        <th class="display-none">State</th>
                        <th class="display-none">Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for(user of users! | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; track
                    user.id) {
                    <tr>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td class="display-none">{{ user.address }}</td>
                        <td class="display-none">{{ user.active ? 'Active' : 'Inactive' }}</td>
                        <td class="display-none">{{ user.role }}</td>
                        <td>
                            <!-- <button class="btn ms-2 mt-2" [ngClass]="{
                                            'btn-danger': user.active,
                                            'btn-success': !user.active
                                          }">
                                {{ user.active? 'Block User' : 'Unblock User' }}
                            </button> -->
                            <button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Block người dùng"><i class="fa-solid fa-lock"></i></button>
                            <button class="btn btn-primary ms-2 m-2" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Reset mật khẩu">
                                <i class="fa-solid fa-gear"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="row mt-3 mx-auto text-center">
                <!-- ngx-pagination library -->
                <pagination-controls (pageChange)=" currentPage=$event"></pagination-controls>
            </div>
        </div>
    </div>
</section>