<app-header></app-header>
<section id="articles" style="padding: 90px 0 40px 0;">
    <div class="container-lg">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="" [routerLink]="['']">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="" [routerLink]="['/articles']">Bài viết</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="row text-start">
                    <h3>Danh mục bài viết</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="" [routerLink]="['/articles']" class="nav-link text-muted">Tất cả bài viết</a>
                        </li>
                        @for (category of articleCategories; track $index) {
                        <li class="nav-item">
                            <a href="#" [routerLink]="['/articles/category', category.id]"
                                class="nav-link text-muted">{{category.name}}</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 d-flex flex-wrap justify-content-center">
                <div class="row">
                    @for (article of articles! | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage};
                    track $index) {
                    <div class="col-md-12 col-lg-12 col-xxl-12 col-12 my-2" (click)="getArticleDetail(article.id)"
                        style="cursor: pointer;">
                        <div class="card w-100 h-100 d-flex flex-row p-0 m-0">
                            <div class="row">
                                <div class="align-items-center d-flex col-4">
                                    <img style="object-fit: cover" class="img-fluid w-100" [src]="article.imageUrl"
                                        alt="...">
                                </div>
                                <div class="card-body p-0 col-8">
                                    <div class="w-100">
                                        <h5 class="card-title m-0" style="text-wrap: balance;">{{article.title}}</h5>
                                        <p class="text-primary m-0 text-uppercase fw-bold">{{article.category.name}}</p>
                                        <p>{{article.createdAt}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <div class="row mt-3">
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>