<section id="#product-page" style="padding: 100px 0 40px 0;">
    <div class="container-lg">
        <div class="row">
            <div class="col col-lg-3">
                <div class="row text-start">
                    <h3>Danh mục sản phẩm</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-muted">Whey protein, Vegan protein</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-muted">Sữa mass tăng cân</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-muted">BCAA, EAA phục hồi cơ</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-muted">Pre-workout, Creatine</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-muted">Phụ kiện tập luyện</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-muted">Hỗ trợ giảm cân, yến mạch</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-muted">Thực phẩm chức năng khác</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-lg-9 d-flex flex-wrap justify-content-center">
                <div class="row row-cols-3">
                    <div class="col-lg-4 col-md-6 my-2">
                        <div class="card w-100">
                            <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-2">
                        <div class="card w-100">
                            <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-2">
                        <div class="card w-100">
                            <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-2">
                        <div class="card w-100">
                            <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-2">
                        <div class="card w-100">
                            <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-2">
                        <div class="card w-100">
                            <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-2">
                        <div class="card w-100">
                            <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-2">
                        <div class="card w-100">
                            <img src="../../../assets/intro-image.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <nav aria-label="Page Navigation">
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>