<section id="login" style="padding: 120px 0 40px 0;">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login-form mx-auto">
                    <h2 class="text-center">Đăng nhập</h2>
                    <div class="form-group my-2">
                        <label for="phoneNumber" class="mb-2">Số điện thoại</label>
                        <input type="text" id="phoneNumber" class="form-control" placeholder="Nhập số điện thoại...">
                    </div>
                    <div class="form-group my-2">
                        <label for="password" class="mb-2">Mật khẩu</label>
                        <input type="password" id="password" class="form-control" placeholder="Nhập mật khẩu...">
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                          <span style="display: flex;">
                            <input type="checkbox" class="form-check-input me-1" id="remember">
                            <label class="form-check-label text-start" for="remember">Ghi nhớ đăng nhập</label>
                          </span>
                          <span><a href="#" class="">Quên mật khẩu</a></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center my-3">
                        <button type="button" class="btn btn-primary">Đăng nhập</button>
                    </div>
                    <div class="d-flex justify-content-center my-3">
                        Bạn chưa đăng ký?<span><a href="" class="ms-2">Tạo tài khoản</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>